/* TOP LEVEL STYLES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1F2937;
  font-family: 'Poppins', sans-serif;
}

/* ELEMENT STYLES */
section {
  padding: 5rem;
}

a {
  text-decoration: none;
  color: #f9faf8;
  font-family: 'Poppins', sans-serif;
}

li {
  list-style-type: none;
}

button {
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: #3b82f6;
  color: #f9faf8;
  font-weight: bold;
}

/* GENERAL CLASS STYLES */
.container {
  max-width: 820px;
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: #1F2937;
  color: #f9faf8
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.header-logo {
  font-size: 2.4rem;
  font-weight: bold;
}

.page-links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page-links-list li {
  color: red;
  margin-right: 1.5rem;
}

.page-links-list li a {
  display: block;
  font-size: 1.8rem;
  color: #e5e7eb;
}

/* HERO */
.hero {
  padding: 10rem 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-text,
.hero-image {
  flex: 1;
}

.hero-text {
  padding-right: 2rem;
}

.hero-image {
}

.hero-text h1 {
  font-size: 4.8rem;
  font-weight: extra-bold;
}

.hero-text p {
  font-size: 1.8rem;
  color: #E5E7EB;
}

.hero-text button {
  margin-top: 1.5rem;
}

.hero-image {
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INFORMATION SECTION */
.information {
  background-color: #fff;
}

.information h2 {
  font-size: 3.6rem;
  font-weight: extra-bold;
  color: #1f2937;
  text-align: center;
  margin-bottom: 3rem;
}

.info-box-container {
  display: flex;
  justify-content: center;
}

.info-box {
  margin: 0 2rem;
  width: 12rem;
}

.info-box .info-box-img {
  border: 3px solid #3882f6;
  height: 12rem;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.info-box .info-box-text {
  text-align: center;
  font-size: 1.2rem;
}

/* QUOTES */
.quotes {
  background-color: #e5e7eb;
  padding: 10rem 0;
}

.quotes .container {
  max-width: 620px;
}

.quotes blockquote {
  font-size: 3.6rem;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  line-height: 1.3;
}

.quotes figcaption {
  text-align: right;
  font-size: 2.4rem;
  font-weight: bold;
  font-style: normal;
}

.quotes cite {
  font-style: normal;
}

/* CALL TO ACTION */
.call-to-action {
  background-color: #fff;
}

.cta-box {
  background-color: #3882f6;
  padding: 3rem 8rem;
  border-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
}

.cta-left {
  flex-grow: 2;
}

.cta-left h3 {
  font-size: 1.8rem;
}

.cta-left p {
  font-size: 1.4rem;
}

.cta-right button {
  border: 2px solid #fff;
}


